useDynLib(Rpoppler)

import(methods)
import(RAutoGenRunTime)

exportPattern(".*")


exportClasses(PDFDoc)


exportClasses(GfxState, GfxStatePtr, XRef, XRefPtr)


export(displayPages)

export(ROutputDevice, ROutputFunctions)

